<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SupermarketDB"
             connectionString="Server=localhost;Database=SupermarketDB;User Id=sa;Password=1234;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="CommercialMarkup" value="0.2" />
	</appSettings>
</configuration>
